h1	{ font-family: sans-serif;
          font-size: 20pt;
          text-align: center}

h2 	{ font-family: sans-serif;
          font-size: 14pt;
          text-align: left}

h3 	{ font-family: sans-serif;
          font-size: 12pt;
          text-align: left;
          font-style: italic}

p     	{ font-family: serif;
          font-size: 10pt;
          text-align: left} 

hr      { color:#0000FF}

.right {text-align: right;
        color: #0000FF }
    

