h1 {font-family: 'Times New Roman', Times, serif; font-weight: bold; font-style: italics; font-size: 18px; color:#0000ff;}
body {background-color: khaki;
        background-image: url("task21al.png");
        background-repeat: no-repeat;
        background-position: right top;
        margin-right: 200px;}