h1 {font-family: "Trebuchet MS", Arial, sans-serif; font-size: xx-large}
h2 {font-family: "Trebuchet MS", Arial, sans-serif; font-size: x-large}
h3 {font-family: "Trebuchet MS", Arial, sans-serif; font-size: large}
h4 {font-family: "Trebuchet MS", Arial, sans-serif; font-size: medium}
h5 {font-family: "Trebuchet MS", Arial, sans-serif; font-size: small}
h6 {font-family: "Trebuchet MS", Arial, sans-serif; font-size: x-small}
p {font-family: "Trebuchet MS", Arial, sans-serif; font-size: xx-small}