h1           { color: #FF0000;
	       font-family: "Times New Roman",Times,serif; 
               font-size: 36pt; 
               text-align: left }

h2           { color: #00FF00; 
               font-family: "Times New Roman",Times,serif; 
               font-size: 30pt; 
               text-align: left }

h3           { color: #0000FF; 
               font-family: "Times New Roman",Times,serif; 
               font-size: 24pt; 
               text-align: center }

h4           { color: #800000; 
               font-family: Arial,Helvetica,sans-serif; 
               font-size: 20pt; 
               text-align: left }

h5           { color: #008000; 
               font-family: fantasy; 
               font-size: 16pt; 
               text-align: left }

h6           { color: #000080; 
               font-family: cursive; 
               font-size: 12pt; 
               text-align: right }

p            { color: #000000; 
               font-family: Courier,serif; 
               font-size: 12pt; 
               text-align: left }

