body {
    background-color: #90ee90;
  }
  
  table {
    background-color: #0000ff;
  }
  
  th {
    background-color: #cfcf00;
  }
  
  td {
    background-color: #2eb757;
  }
  
  